<!doctype html>
<% let p = post[0]; %>
<html>
  <head>
    <title><%=p.title%> / <%=forumName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <!-- Display post info on page -->
    <h1><%=forumName%></h1>
    <h2><%= p.title %> || <a href=/topic/<%= p.name%>> Topic: <%= p.name %></a></h2>
    <p><%= p.content %></p>
    <p>Posted by: <%= p.username %> || Posted on: <%= p.date %></p>
    <p>Replies:</p>
    <ul>
        <!-- For loop iterates through post array for replies -->
        <% for (let i = 0; i < replies.length; i++) { %>
            <!-- Display replies on page -->
            <li>
                <p><%= replies[i].text %></p>
                <p>Replied by: <%= replies[i].username %> || Replied on: <%= replies[i].date_replied %></p>
            </li>
        <% } %>
    </ul>
    <% if (userData) { %>
        <form method="POST" action="/replied">
            <p>Send a reply:</p>
            <textarea id="text" type="text" name="text" maxlength="1000" rows="10" cols="100"></textarea>
            <input type="hidden" name="repliedpostid" value=<%=p.post_id%>>
            <br><br>
            <input type="submit" value="Reply" />
        </form>
    <% } %>
  </body>
</html>