<!doctype html>
<% let p = post[0]; %>
<html>
  <head>
    <title><%=p.title%> / <%=forumName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <!-- Display post info on page -->
    <h1><%=forumName%></h1>
    <h2><%= p.title %> || <a href=/topic/<%= p.name%>> Topic: <%= p.name %></a></h2>
    <p><%= p.content %></p>
    <p>Posted by: <%= p.username %> || Posted on: <%= p.date %></p>
    <p>Replies:</p>
    <ul>
        <!-- For loop iterates through post array for replies -->
        <% for (let i = 0; i < replies.length; i++) { %>
            <% let r = replies[i]; %>
            <!-- Display replies on page -->
            <li>
                <p><%= r.text %></p>
                <p>Replied by: <%= r.username %> || Replied on: <%= r.date_replied %></p>
            </li>
            <!-- User can delete the reply if they are the reply poster or moderator -->
            <% if (userData) { %>
                <% if (userData.isMod || userData.id == r.user_id) { %>
                    <form method="POST" action="/replydeleted">
                        <input type="hidden" name="deletedreplyid" value=<%=r.reply_id%>>
                        <input type="hidden" name="repliedpostid" value=<%=p.post_id%>>
                        <input type="submit" value="Delete Reply" />
                    </form>
                <% } %>
            <% } %>
        <% } %>
    </ul>
    <% if (userData) { %>
        <form method="POST" action="/replied">
            <p>Send a reply:</p>
            <textarea id="text" type="text" name="text" maxlength="500" rows="5" cols="100"></textarea>
            <input type="hidden" name="repliedpostid" value=<%=p.post_id%>>
            <br><br>
            <input type="submit" value="Reply" />
        </form>
        <!-- User can delete the post if they are the original poster or moderator -->
        <% if (userData.isMod || userData.id == p.user_id) { %>
            <br><br>
            <form method="POST" action="/postdeleted">
                <input type="hidden" name="topicname" value=<%=p.name%>>
                <input type="hidden" name="deletedpostid" value=<%=p.post_id%>>
                <input type="submit" value="Delete Post" />
            </form>
        <% } %>
    <% } %>
  </body>
</html>