<!doctype html>
<html>
  <head>
    <title>Search results / <%=forumName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Search <%=forumName%></h1>
    <h2>Results found:</h2>
    <ul>
        <!-- For loop iterates through posts array -->
        <% for (let i = 0; i < posts.length; i++) { %>
          <!-- Display post info on page -->
          <% p = posts[i]; %>
          <li>
              <h2>Topic: <%= p.name %></h2>
              <h2><%= p.title %></h2>
              <p><%= p.content %></p>
              <p>Posted by: <%= p.username %> on: <%= p.date %></p>
          </li>
        <% } %>
      </ul>
  </body>
</html>